body {
  padding: 0px;
  background-color: #66CCFF;
  font-family: sans-serif;
  margin: 0px;
}
#container {
  display: flex;
  justify-content: center;
}
.main-wrapper{ margin:0 auto; }
.wrapper{
width: 300px;
margin:60px auto;
padding: 15px;
background: #63bcef;
text-align: center;
}

